@import 'tailwindcss';
@import '@nuxt/ui';

@media (max-width: 640px) {
  .overflow-x-auto > table.min-w-max.text-sm th,
  .overflow-x-auto > table.min-w-max.text-sm td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .overflow-x-auto > table.min-w-max.text-sm th:first-child,
  .overflow-x-auto > table.min-w-max.text-sm td:first-child {
    padding-left: 0;
  }

  .overflow-x-auto > table.min-w-max.text-sm th:last-child,
  .overflow-x-auto > table.min-w-max.text-sm td:last-child {
    padding-right: 0;
  }
}
